@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Fraunces:wght@400;600&family=Lora:ital,wght@0,400;0,600;1,400&family=Nunito:wght@400;700&family=Quicksand:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Google sans text", sans-serif;
}
body {
    min-height: 100vh;
    background: #F4EFEA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
.header {
  display: flex;
  align-items: center;
  position: absolute;
  height: 80px;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  padding: 20px;
  background-color: #512D24;
  border-bottom: 3px solid rgba(105, 98, 98, 0.429);
  border-radius: 0 0 15px 15px;
  color: #F4F1EA;
}

#title{
    font-family: 'Poppins';
    font-size: 60px;
    position: absolute;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    gap: 2em;
    color: #F4F1EA;
    background-color: #a8886f;
    border-radius: 2em;
    border: 3px solid rgba(103, 79, 66, 0.7);
    padding: 4em 3em;
    position: relative;
}



#timer{
    font-size: 160px;
    font-weight: 800;
    color: #F4F1EA;
}

.button-wrapper {
    display: flex;
    gap: 1em;
}

button{
    font-size:2em;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 0.5em 1.5em;
    border-radius: 0.5em;
    border: 2px solid rgba(0, 0, 0, 0.6);
    color: #F4F1EA;
    cursor: pointer;
    transition: 0.2s ease-in-out;

}

button:hover{
    transform: translateY(-5px);
}

#start{
    background-color:#24411c ;
}

#stop{
    background-color: #893025;
}

#reset{
    background-color: #aa7037;
}
